#c {
    box-shadow: 3px 8px 15px #2b2a2a;
}
.canvas-container {
    margin: 20px 0 0 auto;
}

#mainContent {
    display: flex;
    align-items:center;
    justify-content:center;
}
#mainContent > div{
    flex-grow:1;
    padding:0 20px;
}

#tools {
    background-color:rgba(255, 255, 255, 0.1);
    padding:20px;
    width:max-content;
    display:flex;
    flex-direction:column;
    gap:1em;
}

#canvasTools {
    display:flex;
    gap:1em;
}
#canvasTools > div{
    flex-grow:1;
}

#drawTools{
    display:flex;
    flex-direction:column;
    gap:1em;
}
    #drawTools li {
        display: flex;
        align-items: center;
        gap: 1em;
        
    }

.colorChanger {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
}

    .colorChanger::-webkit-color-swatch {
        border-radius: 30px;
        border: 5px solid #209BBA;
    }

#saveTolls{
    display:flex;
    justify-content: center;
}

#addPopUp {
    background-color: #FFD500;
    box-shadow: 3px 8px 15px #2b2a2a;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    gap:1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px 20px 20px;
}
    #addPopUp > h2 {
        color: #209BBA;
        margin: 1em 0 0 0;
    }
    #addPopUp label {
        color: #209BBA;
    }

    #popHeader{
        display:flex;
        align-items:center;
        justify-content:center;
    }
    #popHeader > *{
        flex-grow:1;
    }
        #popHeader > div {
            display:flex;
            align-content:center;
            justify-content:center
        }
    #exitPop{
        transition:transform 0.1s ease-out;
        cursor:pointer;
    }
        #exitPop:hover {
            transform: scale(1.05);
            opacity: .8;
        }
@media(max-width: 1124px){
    #mainContent {
        display: flex;
        justify-content: center;
        flex-direction:column
    }

        #mainContent > div {
            padding: 0;
            width:750px;
            height:max-content;
        }
    .canvas-container{
        margin:20px auto 20px auto;
    }
    #drawTools{
        flex-direction:row;
        justify-content:center;
    }
    #canvasTools{
        justify-content:center;
        padding:0.5em 0 0 0;
    }
        #canvasTools > div {
            flex-grow: 1;
            display:flex;
            justify-content:center;
        }
    #tools{
        gap:1em;
        height:max-content;
    }
}
   


