
@import url("https://use.typekit.net/phy3jlj.css");
body, button, input[type=text], a {
    margin: 0px;
    font-family: noto-sans;
    font-weight: 600;
    color: white;
}
body {
    background: rgb(255,213,0);
    background: linear-gradient(90deg, rgba(255,213,0,1) 0%, rgba(224,176,0,1) 100%);
}

a{
    text-decoration:none;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    color: #209BBA;
    transition: transform 0.2s ease-out;
    cursor:pointer;
}
    h3:hover {
        transform:scale(1.05);
        color: #75AAF0;
        text-decoration: underline 2px;
        text-underline-offset: 3px;
    }

input[type=range]{
    cursor:pointer;
}

input[type=text] {
    cursor: pointer;
    border: solid 2px #209BBA;
    border-radius:10px;
    text-align:center;
    font-size:16px;
    padding:5px 0;
    color: black;
}



    .current-page {
        color: #75AAF0;
        text-decoration: underline 2px;
        text-underline-offset: 3px;
    }

button {
    background-color: #209BBA;
    border-radius: 50px;
    border: none;
    padding: 0.5em 1em;
    transition: transform opacity 0.2s ease-out;
    cursor: pointer;
}
    button:hover {
        transform: scale(1.05);
        opacity: .8;
        
    }
.button {
    background-color: #209BBA;
    border-radius: 50px;
    border: none;
    padding: 0.5em 1em;
    transition: transform opacity 0.2s ease-out;
    cursor: pointer;
}

    .button:hover {
        transform: scale(1.05);
        opacity: .8;
    }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.site {
    display: flex;
    flex-direction: row;

}

.nav-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
    .nav-list li {
        width: max-content;
        display: flex;
        align-items: center;
        justify-content:center
    }
    .nav-list li h3 {
        padding: 0px 20px 0px 10px;
    }

.nav-list-transtion {
    transition: max-width 0.2s ease-out;
}

.icon {
    margin-left: 55px;
    margin-top: 28px;
    margin-bottom: 28px;
    
}
.menuIcon {
    transition: transform 0.2s ease-out;
}
    .menuIcon:hover {
        transform: scale(1.05);
        color: #75AAF0;
        text-decoration: underline 2px;
        text-underline-offset: 3px;
    }
#smallTitle {
    position: relative;
    right: 50%;
    transform: translate(50%, 0);
}
    #smallTitle > h3 {
        font-size: 30px;
    }
#smallTop {
    margin-left: 40px;
    display: flex;
    height: 100px;
    justify-content: space-between;
}
#menuIcon {
    display:flex;
    align-items: center;
    width: max-content;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
    #menuIcon:hover {
        transform: scale(1.1) rotate(90deg);
        
    }
.menuRotated {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

    @media(min-width: 960px) {
        #smallTop{
        display:none;
    }

    .site {
        flex-direction: column;
    }
    .nav-list {
        flex-direction: row;
        height: 100px;
        max-width: 100000px;
        display: flex;
        transition: max-width 0.2s ease-out;
    }
        .nav-list li {
            white-space:nowrap;
        }
            .nav-list li h3 {
                padding: 30px;
            }

    #icon-right {
        flex-basis: 100%;
        justify-content: right;
        padding-right: 100px;
        margin:0;
    }

    #icon-left {
        flex-basis: 100%;
        justify-content: left;
        padding-left: 100px;
        margin:0;
    }
        
}

.content{
    width:100%;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(225 177 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #209BBA;
    border: solid 4px #e1b100;
    border-radius: 7.5px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #1C859F;
    }




